{
  "extends": ["wesbos"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": 2,
    "react/jsx-no-bind": 0,
    "react/no-unused-state": 0, // temporary
    "react/prop-types": 0, // temporary
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "jsxSingleQuote": false,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
